<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sudoku app</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        table { border-collapse: collapse; font-family: Calibri, sans-serif; }
        colgroup, tbody { border: solid medium; }
        td { border: solid thin; padding: 0; }
        td input { border: 0; height: 2em; width: 2em; text-align: center; padding: 0; font-size: 25px; }
        textarea { width: 100px; height: 150px; }
        input.zero { color: white; }
    </style>
</head>
<body>
<div id="app">
        <table>
            <caption>Sudoku of the day</caption>
            <colgroup v-for="colgroup in 3"><col><col><col></colgroup>
            <tbody v-for="group in 3">
                <tr v-for="row in 3">
                    <td v-for="(cell, x) in board[(group-1)*3 + (row-1)]">
                        <input :class="{zero: cell.value == '0'}" v-model="cell.value"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <textarea v-model="text"></textarea>
        <button @click="load">Load</button>
</div>
<script>
let app = new Vue({
    el: '#app',
    data: {
        message: 'Sudoku application',
        board: [],
        text: "003020600\n" +
            "900305001\n" +
            "001806400\n" +
            "008102900\n" +
            "700000008\n" +
            "006708200\n" +
            "002609500\n" +
            "800203009\n" +
            "005010300",
    },
    methods: {
        initBoard() {
            for (let row = 0; row < 9; row++) {
                this.board.push([]);
                for (let col = 0; col < 9; col++) {
                    let cell = { value: row+col };
                    this.board[row].push(cell);
                }
            }
        },
        load() {
            let text = this.text.split("\n");
            for (let row = 0; row < 9; row++) {
                this.board.push([]);
                for (let col = 0; col < 9; col++) {
                    this.board[row][col].value = text[row][col];
                }
            }
        }
    },
    created() {
        const userAction = async () => {
            const response = await fetch('api/');
            return await response.json();
        };
        userAction().then(response => {
            this.message = response.message;
        });
        this.initBoard();
    }
});
</script>
</body>
</html>